name: Sync APK Files

on:
  schedule:
    - cron: '0 0 * * *'  # 每天 UTC 时间 00:00 运行
  workflow_dispatch:  # 允许手动触发

jobs:
  sync-apk:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - run: pip install requests PyGithub

      - name: Sync APK files using Python script
        shell: bash
        run: |
          python .github/scripts/sync_apk.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          SOURCE_REPO: FongMi/Release
          SOURCE_PATH: apk/release
          DEST_PATH: apk
